.DS_Store
.idea
*.iml

.terraform*
/azure
/aws
/gcp
/cicd
terraform.tfstate
terraform.tfstate.backup
jemo-cloud-log-*
UUID_*

/.classpath
/.factorypath
/.project
/.temp-Jemo-classpath-arg-1569239130814.txt
/.temp-org.eclipse.jemo-classpath-arg-1569511630014.txt
